body {

background: url('../images/backg.png');

}

/*The font for all h1s on the website*/
h1 {

font-family: 'Hammersmith One', sans-serif;

}

/*The font for all p's on the website*/
p {

font-family: 'Roboto', sans-serif;

}

#wrapper {
    width:70%;
    margin:auto;
background-color:white;

}


ul#social {
list-style-type: none;

}

/*Putting the pages side by side in the navigation bar instead of underneath
*/
ul#social li {
float:left;

}


/*To force the footer under the social media icons*/
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.grid-container {
  display: grid;
}


nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav ul li {
  float: left;
}

/*Decorating the video grid*/
.grid-container {
  display: grid;
  grid-template-columns: auto auto ;
  background-color: #000000;
  padding: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 0px solid rgba(0, 0, 0, 0.8);
  padding: 15px;
  font-size: 25px;
  text-align: left;
}


/*Changing the size of the social media icons in the footer*/
footer ul li img {
	width:70%;
}

/*Decorating the navigation bar*/
nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 14px;
  text-decoration: none;
}

/*To make the hero change size with the window*/
#hero{

background: url('../images/fake-news.png');
	height: 300px;
}

 /* Style the form element with a border around it */
form {
  border: 4px solid #f1f1f1;
}

/* Add some padding and a grey background color to containers */
.container {
  padding: 20px;
  background-color: #f1f1f1;
}

/* Style the input elements and the submit button */
input[type=text], input[type=submit] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Add margins to the checkbox */
input[type=checkbox] {
  margin-top: 16px;
}

/* Style the submit button */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  border: none;
}

input[type=submit]:hover {
  opacity: 0.8;
} 

/*Slideshow*/
.fling-minislide {width:100%; height:0px; padding-bottom: 70%; overflow:hidden; position:relative; }
.fling-minislide img{ position:absolute; animation:fling-minislide 20s infinite; opacity:0; width: 100%; height: auto;}

@keyframes fling-minislide {25%{opacity:1;} 40%{opacity:0;}}
.fling-minislide img:nth-child(4){animation-delay:0s;}
.fling-minislide img:nth-child(3){animation-delay:5s;}
.fling-minislide img:nth-child(2){animation-delay:10s;}
.fling-minislide img:nth-child(1){animation-delay:15s;}

